


# =====================================================================
# SUPERWALL PUBLIC API KEYS GO HERE 
# -- find these in your superwall project settings (iOS + Android)
# =====================================================================
EXPO_PUBLIC_SUPERWALL_API_KEY_IOS=pk_02729c239c8bfe9d1a6c7c4bf625c801d4fdef2b08436e20
EXPO_PUBLIC_SUPERWALL_API_KEY_ANDROID=pk_02729c239c8bfe9d1a6c7c4bf625c801d4fdef2b08436e20